

.rotateText {
    animation: rotate-text 4s ease-in-out infinite;
    margin-top: 7px;
}

@keyframes rotate-text {
    0%, 25% { transform: translateY(0); }
    33.3% { transform: translateY(-85px); }
    33.3%, 58.3% { transform: translateY(-85px); }
    66.6% { transform: translateY(-170px); }
    66.6%, 91.6% { transform: translateY(-170px); }
    100% { transform: translateY(0); }
}

.containerSnap {
    animation: container-snap 4s ease-in-out infinite;
}

@keyframes container-snap {
    0%, 25% { transform: translate(-20px, -20px); }
    33.3%, 58.3% { transform: translate(0, 0); }
    66.6%, 91.6% { transform: translate(0, 0); }
    100% { transform: translate(-20px, -20px); }
}

.imageReel {
    display: flex;
    width: 600%; 
    height: 100%;
    animation: reel-slide-smooth 20s ease-in-out infinite;
}

@keyframes reel-slide-smooth {
    0%, 18.3% { transform: translateX(0); }
    20% { transform: translateX(calc(-100% / 6)); }
    20%, 38.3% { transform: translateX(calc(-100% / 6)); }
    40% { transform: translateX(calc(-200% / 6)); }
    40%, 58.3% { transform: translateX(calc(-200% / 6)); }
    60% { transform: translateX(calc(-300% / 6)); }
    60%, 78.3% { transform: translateX(calc(-300% / 6)); }
    80% { transform: translateX(calc(-400% / 6)); }
    80%, 98.3% { transform: translateX(calc(-400% / 6)); }
    100% { transform: translateX(calc(-500% / 6)); }
}

.blurryDot {
    position: absolute;
    top: 5%;
    left: -10%;
    width: 20vw;
    height: 20vw;
    background: radial-gradient(circle at center, rgba(25, 231, 54, 0.7) 0%, rgba(0,0, 0, 0) 80%);
    border-radius: 50%;
    filter: blur(30px);
    z-index: -1;
}